/*投稿画面*/
li{
    list-style: none;
}
textarea{
    border-radius: 5px;
    height:300px;
    width:50%;
}
.outer{
    padding-top: 20px;
    width: 100%;
}

.CreatePost {
    text-align: center;
    margin-top: 100px;
}
label {
background-color: white;
width:45%;
border-radius: 5px;
border: 1px solid;
color: black;
cursor: pointer;
padding: 15px 30px;
margin-bottom:40px;
display: inline-block;
}
label input {
display: none;
}

.button{
    background-color: #f5f5f5;
    margin-top: 40px;
    width: 160px;
    padding: 0.8em;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    transition: .4s;
}
.button:hover {
    background: white;
    color: black;
}

@media (max-width: 820px) {
    textarea {
        width: 90%;
    }
    label{
        width: 80%;
    }
}
