/*プロフィール画面*/
.outer{
    padding: 20px;
    width: 100%;
}

#grid{
    width: 32%;
}
li {
    margin: 5px;
    float: left;
    list-style: none;
}

@media (max-width: 820px) {
    .photo{
        width: 32%;
    }
}
















