@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}
body{
}

.container {
    position: fixed;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
}
.pic{
    width: 100%;
    text-align: center;
}
.pic2{
    margin: 2em 30%;
    border: solid 3px #000000;
}


